// Place all the styles related to the drugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: rgba(0,0,0,0.3);
  margin-top: 30px;
  position: relative;
}
.footer-links {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.card {
  margin-top: 20px;
}
th {
  text-align: left;
  padding: 15px;
  height: 50px;
}
.container-options {
  text-align: center;
  padding: 30px;
  margin-left: 15px;
}
span + span {
  margin-left: 300px;
}
.reviews-container {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}
.main-container {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
.row {
  margin-top: 20px;
}
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}
